#container{
    margin-top: 75px;
    width: fit-content;
    position: absolute;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
    #userProfiles{
        display: grid;
        column-gap: 7px;
        width: 100%;
        grid-template-columns: auto auto auto; 
        padding-bottom: 5px;
        margin-bottom: 10px;
        *{
            display: flex;
            page-break-inside: avoid; /* Firefox is dumb */
            break-inside: avoid;
        } 
    }
    #chalanges{
        display: grid;
        column-gap: 7px;
        width: 100%;
        grid-template-columns: auto auto auto; 
        *{
            display: flex;
            page-break-inside: avoid; /* Firefox is dumb */
            break-inside: avoid;
        }
    }
    #notFoundAnyResults{
        text-align: center;
        font-size: 20px;
        position: absolute;
        min-width: 280px;
        width: fit-content;
        max-width: 80vw;
        transform: translate(-50%, 0);
        text-shadow: 1px 1px 0px rgba(255, 0, 0, 0.226);
    }
}


@media screen and ( max-width: 1285px ){
    #chalanges{
        grid-template-columns: auto auto !important;
    }
    #userProfiles{
        grid-template-columns: auto auto !important;
    }
}

@media screen and ( max-width: 750px ){
    #chalanges{
        grid-template-columns: auto !important;
    }
    #userProfiles{
        grid-template-columns: auto !important;
    }
}