h1{
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: rgb(102, 102, 102);
    top: 82px;
    text-align: center;
    font-weight: 500;
    u{
        font-weight: bold;
        color: black;
        font-size: 25px;
        line-height: 20px;
        text-decoration: none;
    }
}